<?xml version='1.0'?>
<launch>

  <arg name="model" default="$(find project_pkg)/urdf/my_robots_super_model.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="xacro '$(find project_pkg)/urdf/my_robots_super_model.urdf.xacro'" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>



  <!-- <param name="robot_description" command="$(find xacro)/xacro -\-inorder $(arg model)" /> -->


  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

<!-- <launch>
	<arg name="gui" default="False" />
	
	<param name="robot_description" textfile="$(find robot_model)/urdf/first_model.urdf" />
	<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<node name="rviz" pkg="rviz" type="rviz" ></node>
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ></node>
</launch> -->
